@config "core.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --uk-cal-cell-size: 2.25rem;
  --uk-cal-cell-radius: var(--uk-global-radius);
  --uk-cal-cell-header-font-size: var(--uk-global-font-size-s);
  --uk-cal-cell-body-font-size: var(--uk-global-font-size);
}

.uk-datepicker-cal {
  @apply p-3;
}

.uk-cal {
  max-width: calc(var(--uk-cal-cell-size) * 7);
}

.uk-cal-header {
  @apply mb-2 flex gap-x-2;
}

.uk-cal-header-l,
.uk-cal-header-r {
  @apply flex-none;
}

.uk-cal-jumper {
  @apply flex flex-1 items-center justify-between gap-x-2;
}

.uk-cal-jumper .uk-input-fake {
  justify-content: center;
}

.uk-cal-jumper input {
  @apply w-12 text-center;
}

.uk-cal-jumper input[type='number']::-webkit-inner-spin-button,
.uk-cal-jumper input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uk-cal-jumper input[type='number'] {
  -moz-appearance: textfield;
}

.uk-cal-title {
  @apply w-full text-center font-medium;
}

.uk-cal-month-dropdown {
  --uk-dropdown-nav-item-padding: 0.25rem;
  @apply flex-1;
}

.uk-cal-month-dropdown button {
  @apply w-full;
}

.uk-cal-month-dropdown .uk-drop {
  @apply max-h-40 min-w-36 overflow-y-auto;
}

.uk-cal-month-dropdown-item a {
  @apply items-center justify-between;
}

.uk-cal table {
  @apply flex flex-col gap-2;
}

.uk-cal table tbody {
  @apply flex flex-col gap-2;
}

.uk-cal table thead th {
  width: var(--uk-cal-cell-size);
  font-size: var(--uk-cal-cell-header-font-size);

  @apply text-muted-foreground font-normal;
}

.uk-cal table tbody tr,
.uk-cal table thead tr {
  @apply flex gap-0.5;
}

.uk-cal table tbody tr td {
  width: var(--uk-cal-cell-size);
  height: var(--uk-cal-cell-size);
  font-size: var(--uk-cal-cell-body-font-size);

  @apply relative p-0 text-center;
}

.uk-cal table tbody tr td button {
  border-radius: var(--uk-cal-cell-radius);

  @apply focus-visible:outline-ring hover:bg-accent hover:text-accent-foreground inline-flex h-full w-full items-center justify-center whitespace-nowrap focus-visible:outline-dotted focus-visible:ring-1 disabled:opacity-50;
}

.uk-cal table tbody tr td.uk-cal-oom button {
  @apply text-muted-foreground;
}

.uk-cal table tbody tr td.uk-active button {
  @apply bg-primary text-primary-foreground;
}

.uk-cal table tbody tr td.uk-disabled button {
  @apply opacity-50;
}

.uk-cal-divider table tbody {
  @apply gap-1;
}

.uk-cal-divider table tbody tr {
  @apply border-border border-b;
}

.uk-cal-divider table tbody tr td {
  @apply mb-1;
}

.uk-cal-divider table tbody tr:last-child {
  @apply border-none;
}

.uk-cal-marked::after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: var(--uk-cal-cell-body-font-size)
    var(--uk-cal-cell-body-font-size) 0 0;
  border-color: hsl(var(--destructive)) transparent transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: var(--uk-cal-cell-radius);
}
